---
layout: internal
---

{% assign settings = site.data.settings %}
{% assign contacts = settings.contacts %}
{% assign case_studies = site.data.case_studies %}

<section class="section-dark is-slim">
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1 class="h4">Stellar Asia Pacific</h1>
				</div>
				<div class="col-md-9">
					<ul class="block-grid-md-6">
						{% for item in case_studies %}
						<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- GALLERY -->
<ul class="block-grid-xs-1 block-grid-md-3 gallery-grid">
	{% for i in (1..3) %}
	<li>
		<a class="media-tile" href="/case-studies/">
		    <img width="100%" src="https://placeimg.com/400/200/tech?{{forloop.index}}">
		</a>
	</li>
	{% endfor %}
</ul>




<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Vision</h2>
				<p>Stellar is Australia’s largest multi-channel customer contact centre group and the most awarded business in their sector looking after a large number of Australia’s most recognised brands across government and commercial enterprise. With 4,500 employees across the region and a rapid growth strategy, their executive team believed their brand did not reflect the evolving organisation and where the business needed to be positioned for the future.</p>
			</div>
			<div class="col-md-6">
				<h2>Strategy &amp; Execution</h2>
				<p>We undertook extensive research into their market and spent weeks absorbing their culture through meetings with the CEO and leadership team down to frontline staff around Australia.</p>
				<p>We talked to their customers and delved deep into their organisational structure. Out of this we developed a new Brand in conjunction with their lead team. Stellar is very much a people business and they wanted to reflect who they were in an emotional sense. To provide this, we developed a Brand Story so that any staff member could understand and be proud of Stellar’s values and vision.</p>
			</div>
		</div>
	</div>
</section>

<section class="section section-light">
	<div class="container">
		<h2>Testimonial</h2>
		<p>“Tom Thumb was appointed to look at a brand refresh for Stellar Asia Pacific. We’ve been very impressed with their knowledge, process, creativity and enthusiasm, and their genuine interest in our needs and our goals. We’ve really enjoying the collaborative process thus far and are extremely excited to launch our new look brand to the market.”
		<br>
		Rachel O’Loughlin<br>
		Chief Operating Officer
</p>
	</div>
</section>