---
---

<!-- <img width="100%" src="http://www.liquidvisual.net/files/15-template.jpg"> -->

<h1 class="h2 subheader">Welcome!</h1>
<p class="lead">You've arrived at <strong>Your Web Visual</strong>, a central hub for your project's information. We'll use this space to track and display progress as your website is designed and built.</p>

<br>

<h2 class="h3">What are we up to?</h2>

<p>By visiting this space regularly, you'll be able to see what we're working on</p>

<!-- <img width="100%" src="http://www.liquidvisual.net/files/Screenshot%20of%20Safari%20(7-27-16,%201-56-59%20PM).png"> -->

<!-- <a href="" class="btn btn-primary btn-large">Content</a>
<a href="" class="btn btn-primary btn-large">Design</a>
<a href="" class="btn btn-primary btn-large">Development</a>
<a href="" class="btn btn-primary btn-large">Preview</a> -->

{% comment %}

<h4>What do you want to do first?</h4>



<br>

<img width="100%" src="http://www.liquidvisual.net/files/entice.png">

{% endcomment %}

<!-- <style>
	.lv-stage {
		background: url(http://www.liquidvisual.net/files/pink.png);
		background-size: cover;
	}
</style> -->