{% assign settings = site.data.settings %}

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-xs-center text-md-left">
                <p><small>&copy; Copyright {{ settings.company }} &nbsp;|&nbsp; <a href="/docs/">Docs</a></small></p>
            </div>
            <div class="col-md-4 text-xs-center">
                <p><a title="Instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></p>
            </div>
            <div class="col-md-4 text-xs-center text-md-right">
                <p><a href="{{ settings.events }}"><img src="/img/content/logo-events.png" alt="Tom Thumb Events"></a></p>
            </div>
        </div>
    </div>
</section>