{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 15.08.16
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('/assets/video/{{hero}}.jpg')">

            <!-- HTML5 VIDEO -->
            <video autoplay loop muted>
                <source data-src="/assets/video/video-1.webm" type="video/webm">
                <source data-src="/assets/video/video-1.mp4" type="video/mp4">
            </video>

            <!-- CAPTION -->
            <div class="lv-hero-caption-wrapper display-table">
                <div class="display-cell align-middle">
                    <div class="container text-xs-center">
                        <div class="lv-hero-item-caption animated fadeInLeft">
                            <h1 class="lv-hero-header">Every vision needs a strategy.</h1>
                            <div class="lv-hero-header-underline"></div>
                            <a class="btn btn-primary btn-outline" href="/case-studies/">Explore</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- /.lv-hero -->

    <!-- DOWNWARDS ARROW -->
    <a class="lv-hero-arrow-scroll" href="#tagline"><i class="fa fa-angle-down"></i></a>

</div> <!-- /.hero-wrapper -->