---
---

<!-- <img width="100%" src="http://www.liquidvisual.net/files/15-template.jpg"> -->

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item bg-fill-pink-grad" >

            <!-- CAPTION -->
            <div class="lv-hero-caption-wrapper display-table">
                <div class="display-cell align-middle">
                    <div class="container">
                        <div class="lv-hero-item-caption animated fadeInLeft">
                            <h1 class="lv-hero-header">Everything in one place. <br>Your web visual.</h1>
                            <a class="btn btn-primary btn-outline" href="/case-studies/">Get Started <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- /.lv-hero -->

</div> <!-- /.hero-wrapper -->

<br><br>

<div class="container" hidden>
    <div class="row">
        <div class="col-md-4">
        	<div class="text-xs-center">
	        	<div class="stamp">
	        		<i class="fa fa-eye"></i>
	        	</div>
	            <h3>Preview your website as it's being built</h3>
            </div>

			<a href="btn btn-primary">See it</a>

            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco</p> -->

        </div>
        <div class="col-md-4">

			<div class="text-xs-center">
	        	<div class="stamp">
	        		<i class="fa fa-mobile"></i>
	        	</div>
	            <h3>Browse styleguides &amp; design materials</h3>
            </div>

            <a href="btn btn-primary">Browse it</a>

			<!-- <ul>
				<li>Styleguide</li>
				<li>Easy to follow brand guidelines</li>
				<li>blah blah</li>
				<li>blah </li>
				<li>blah</li>
			</ul> -->

        </div>
        <div class="col-md-4">

        	<div class="text-xs-center">
	        	<div class="stamp">
	        		<i class="fa fa-laptop"></i>
	        	</div>
	            <h3>Integrate easily into your CMS</h3>
            </div>

			<a href="btn btn-primary">Read it</a>

			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et</p>
			<p>dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco</p> -->
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="container text-xs-center">
	<h2>Is Potato healthy? Yes it is!</h2>
	<p class="lead">The majority of carohydrates in pootaties are<br> complex cabdi in bodsd main</p>
</div>

<!-- <div class="container">
	<p>You've arrived at <strong>Your Web Visual</strong>, a central hub for your project's information. We'll use this space to track and display progress as your website is designed and built.</p>
</div> -->


<style>
	.lv-main {
		padding: 0;
		max-width: none;
	}
</style>

