{% comment %}

    Updated: 24.11.14

    - Notes:

    When 'side_nav_id' is passed, data is pulled from requested node in /data/sitemap.yml creating second level nav.
    Optional: 'exclude_top_level' can be passed through the include, skipping the top level of the side nav.

    Basic Output:

        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li class="nested"><a href="/some-link/"> - Some Link</a></li>
            <li class="nested"><a href="/some-link/"> - Some Link</a></li>
            <li class="nested"><a href="/some-link/"> - Some Link</a></li>
        </ul>

{% endcomment %}

{% assign sitemap = site.data.sitemap %}
{% assign side_nav_id = page.side_nav_id %}
{% assign exclude_top_level = include.exclude_top_level %}

{% if side_nav_id %}

    <ul class="side-nav">

        {% unless exclude_top_level %}
            {% comment %} Top Level (Optional) {% endcomment %}
            {% assign top_level = sitemap[side_nav_id] %}
            <li class="{% if top_level.url == page.url %} active {% endif %}">
                <a href="{{ top_level.url }}">{{ top_level.title }}</a>
            </li>
        {% endunless %}

        {% comment %} Second Level {% endcomment %}
        {% for item in sitemap[side_nav_id].children %}
            <li class="{% if item.url == page.url %} active {% endif %}">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </li>

            {% comment %} Third Level {% endcomment %}
            {% if item.children %}
                {% for item in item.children %}
                <li class="nested {% if item.url == page.url %} active {% endif %}">
                    <a href="{{ item.url }}">&nbsp;&nbsp;- {{ item.title }}</a>
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </ul>
{% endif %}