/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables (Use Pixels)
//-----------------------------------------------------------------

$header-height-sm: 60px; // optimal
$header-height-md: 130px;
$header-height-lg: 180px;

$lv-nav-height: 44px;

//=========================================
//
//=========================================