/*
    HEADER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height-sm: 60px !default; // optimal
$header-height-md: 130px !default;
$header-height-lg: 220px !default;

//-----------------------------------------------------------------
// Headroom
//-----------------------------------------------------------------

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    @include media-breakpoint-down(sm) {
        transform: translateY(0%);
    }
}
.headroom--unpinned {
	@include media-breakpoint-down(sm) {
    	transform: translateY(-100%);
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	position: absolute; // covers more use cases
	top: 0;
	width: 100%;
	z-index: 1000;

	@include media-breakpoint-down(sm) {
	    background: white;
	}

	> .container {
		position: relative;
	}
}

//=========================================
// Header Height [locked]
//=========================================

.global-header,
.global-header .display-table {
	height: $header-height-sm;

	@include media-breakpoint-up(md) {
	    height: $header-height-md;
	}

	@include media-breakpoint-up(xl) {
		height: $header-height-lg;
	}
}

//=========================================
// Fixed Mobile [locked]
//=========================================

.global-header {
	@include media-breakpoint-down(sm) {
	    position: fixed;
	}
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.global-header .logo {
	position: relative;
	top: 0;
	display: inline-block;

	@include media-breakpoint-up(md) {
	    top: 0;
	}

	@include media-breakpoint-up(lg) {
	    top: 0;
	}

	@include media-breakpoint-up(xl) {
	    top: 0;
	}

	img {
		width: 140px;
		padding: rem-calc(5 0);

		@include media-breakpoint-up(md) {
			width: 270px;
		    padding: rem-calc(15 0);
		}

		@include media-breakpoint-up(xl) {
		    padding: none;
		}
	}
}

//-----------------------------------------------------------------
// Hamburger
//-----------------------------------------------------------------

.global-mobile-menu {
	position: absolute;
	right: $container-gutter;
	top: $container-gutter;
	display: block;
	overflow: hidden;

	@include media-breakpoint-up(md) {
	    top: 30px;
	}

	.hamburger {
		display: block;
		font-size: rem-calc(30);
		line-height: 0;
		color: #383D43;
		cursor: pointer;

		@include media-breakpoint-up(md) {
		    font-size: rem-calc(35);
		}
	}
}

//=========================================
//
//=========================================