/*
    CONTEXT-MENU.CSS

    - Last updated: 23.07.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$app-menu-toolbar-width: 55px !default;
$dark-bg-color: $gray-dark !default; // recently changed this

//-----------------------------------------------------------------
// CONTEXT MENU
//-----------------------------------------------------------------

.lv-context-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $app-menu-width-small;
	height: 100%;
	background: $dark-bg-color;
	// box-shadow: inset -4px 0px 7px 0px rgba(0,0,0,0.20); // inset needs visibility

	@include media-breakpoint-up(md) {
	    width: $app-menu-width-medium;
	}
}

//-----------------------------------------------------------------
// PAGE STRIP - For INIT animation only
//-----------------------------------------------------------------

.lv-context-menu-top-strip {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: $lv-topbar-height-medium + $lv-stage-top-offset;
	background: darken($dark-bg-color, 4%);
	z-index: -1;

	// Repeated below
	@include media-breakpoint-up(md) {
	    padding-left: $app-menu-toolbar-width;
	}
}

//-----------------------------------------------------------------
// SCROLLER
//-----------------------------------------------------------------

.lv-context-menu-scroller {
	position: absolute;
	top: $lv-topbar-height-medium + $lv-stage-top-offset;
	left: 0;
	bottom: $app-menu-toolbar-width;
	width: 100%;
	overflow: auto; // iOS needs reliable scroll focus
	-webkit-overflow-scrolling: touch;

	@include media-breakpoint-up(md) {
		bottom: 0; // failsafe
	    height: calc(100% - #{$lv-footer-height}); // failsafe
	}

	@include media-breakpoint-up(xl) {
		// overflow: hidden; // make scrollbars prettier on desktop only
	}

	&:hover {
		overflow: auto;
	}
}

//-----------------------------------------------------------------
// SCROLL BAR (WEBKIT)
//-----------------------------------------------------------------

.lv-context-menu ::-webkit-scrollbar {
    width: 6px;
    // opacity: 0;
}

.lv-context-menu ::-webkit-scrollbar-thumb {
    border: 1px solid rgba(white, 0.5);;
    border-radius: 10px;
    background: black;
    // padding: 10px;
}

// .lv-context-menu ::-webkit-scrollbar-thumb:window-inactive {}

//-----------------------------------------------------------------
// HEADER
//-----------------------------------------------------------------

.lv-context-menu-header {
	display: table;
	width: 100%;
	background: darken($dark-bg-color, 4%);
	text-align: center;

	@include media-breakpoint-up(md) {
	    padding-left: $app-menu-toolbar-width;
	}

	h3 {
		position: relative;
		top: 3px;
		display: table-cell;
		vertical-align: middle;
		padding: 0; // failsafe
		margin: 0; // failsafe
		font-family: $font-family-serif;
		font-size: rem-calc(20); //22
		font-weight: normal;
		height: $lv-topbar-height-medium + $lv-stage-top-offset;
		color: $brand-primary;
	}
}

//-----------------------------------------------------------------
// TOOLBAR
//-----------------------------------------------------------------

.lv-context-menu-toolbar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: $app-menu-width-small;
	height: $app-menu-toolbar-width;
	background: #151519; // locked
	z-index: 100;

	@include media-breakpoint-up(md) {
		top: 0;
    	width: $app-menu-toolbar-width;
        height: 100%;
	}

	a {
		transition: background 150ms ease;
		display: block;
		padding: rem-calc(5 0);
		font-size: rem-calc(20);
		text-align: center;
		color: lighten($dark-bg-color, 15%);

		// transform: scale(0.8);

		@include media-breakpoint-down(sm) {
		    line-height: $app-menu-toolbar-width;
		    padding: 0;
		}

		&:hover {
			color: white;//lighten($dark-bg-color, 30%);
		}
	}

	.active a {
		color: white;
		// color: black; //white;//lighten($dark-bg-color, 30%);
		// background: rgba(white, 0.2);
		// margin: 0 4px;
		// border-radius: 4px;
	}
}

//-----------------------------------------------------------------
// TOOLS
//-----------------------------------------------------------------

.lv-context-menu .lv-context-menu-user-logo {
    padding: rem-calc(14 0);

     .gravitar {
     	border-radius: 100%;
     }
}

//=========================================
// Site Tools
//=========================================

ul.lv-context-menu-site-tools {
	@include media-breakpoint-down(sm) {
		display: table;
		table-layout: fixed;
		width: 100%;
		margin: 0;
		padding: 0;
		float: left;

		li {
			display: table-cell;
		}

		li:first-child {
			display: none;
		}
	}
}

//========================================= ******************
// TOOL TAB ** PREVIEW **
// Style it differently to highligh different behavior
//========================================= ******************

.tool-tab-preview {
	@include media-breakpoint-up(md) {
	    height: 60px;
	    margin: 30px 14px 14px 14px;
	    border: 1px solid lighten($dark-bg-color, 0%);
	    border-top: 0;
	    border-radius: 30px;
	    background: black;
	}

	a {
		@include media-breakpoint-up(md) {
		    position: relative;
		    left: -3px;
		    width: 31px;
		    line-height: 20px;
		    // border: 2px solid black;
		    // border-bottom: 2px solid darken(desaturate($brand-secondary, 60%), 20%);
		    border-radius: 100%;
		    background: desaturate($brand-secondary, 60%);
		    font-size: 16px;
		    color: darken(desaturate($brand-secondary, 60%), 20%) !important;
		    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
		    transition: transform 300ms ease, background 300ms ease;
		}
	}
}

.is-mode-preview .tool-tab-preview a {
	@include media-breakpoint-up(md) {
	    background: $brand-secondary;
	    color: rgba(white, 0.9) !important; //rgba(black, 0.45) !important;
	    cursor: default;
	    transform: translateY(30px);
	    // box-shadow: 0px 0px 5px 0px $brand-secondary;
	    border: 0;
	    // border-top: 2px solid darken(desaturate($brand-secondary, 60%), 20%);
	}
}

//-----------------------------------------------------------------
// Body
//-----------------------------------------------------------------

.lv-context-menu-body {
	padding: 20px 0; // used to hoist up in dev tablist
	font-size: rem-calc(14);
	// font-family: "Gotham";
	// font-family: 'Gotham';
	// font-weight: 400;

	@include media-breakpoint-up(md) {
	    margin-left: $app-menu-toolbar-width; // locked
	}

	li {
		// border-bottom: 1px solid lighten($dark-bg-color, 5%);
		margin-left: 15px;
	}

	//=========================================
	// Anchors
	//=========================================

	a,
	h3 {
		display: block;
		padding: rem-calc(15 20);
		margin: rem-calc(0 15 0 0);
		line-height: 1.4;
		color: white;
		transition: none;

		@include media-breakpoint-up(md) {
	    	padding: rem-calc(10 15);
	        border: 0;
		}

		.lv-context-menu-digit {
			font-family: 'Oswald', sans-serif;
			color: lighten($dark-bg-color, 15%);
			font-size: rem-calc(12);
			// padding-right: 20px;
			width: 25px; // lock
			display: inline-block;
		}

		&:hover {
			@include media-breakpoint-up(xl) {
			    background: lighten($dark-bg-color, 2%);
			    border-radius: $border-radius-sm;
			}
		}
	}

	//=========================================
	// Headers (Eg. Docs)
	//=========================================

	h1, h2, h3, h4, h5, h6 {
		color: lighten($gray-dark, 20%);
		font-size: rem-calc(12);
		text-transform: uppercase;
		font-weight: 600;
		margin-left: 15px;
		margin-right: 15px;

		&:hover {
			background: inherit;
		}
	}

	// --- ACTIVE ---

	.active > a {
		background: lighten($dark-bg-color, 8%);
		border-radius: $border-radius-sm;

		.fa,
		.lv-context-menu-digit {
			color: lighten($dark-bg-color, 35%);
		}
	}
}

.lv-context-menu .btn {
	margin: $spacer 30px 30px 15px;

	.fa {
		position: relative;
		top: 2px;
		font-size: rem-calc(20);
		color: white;
		margin-right: 13px;
	}
}

//-----------------------------------------------------------------
// Tablist (Dev menu only)  [SITE | DOCS]
//-----------------------------------------------------------------

.lv-context-menu-panel-tabs-header {
	position: relative;
	top: -20px;
	display: table;
	width: 100%;

	li {
		display: table-cell;
		text-align: center;
		width: 50%;

		a {
			margin: 0;
			padding: 15px 0;
			text-transform: uppercase;
			font-size: rem-calc(13);
			background: lighten($dark-bg-color, 5%);

			@include media-breakpoint-down(sm) {
			    border-bottom: 0;
			}
		}
	}

	.active a {
		background: $dark-bg-color;
	}
}

//-----------------------------------------------------------------
// App Menu Lists
//-----------------------------------------------------------------

.lv-context-menu ul {
	list-style: none;
	margin: 0; // failsafe
	padding: 0; // failsafe
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================