/*
    TOPBAR.CSS

    - Last updated: 03.08.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$lv-topbar-height-small: 100px !default;
$lv-topbar-height-medium: 75px !default;

//-----------------------------------------------------------------
// TOPBAR
//-----------------------------------------------------------------

.lv-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $lv-topbar-height-small;
    font-family: "Montserrat"; // fix this in bootstrap
    background: white;
    box-shadow: 0px -26px 0px 0px darken($dark-bg-color, 4%); // top trick shadow for curve
    z-index: 100;

    @include media-breakpoint-up(md) {
        height: $lv-topbar-height-medium;
    }
}

//-----------------------------------------------------------------
// TOPBAR SHADOW
// Create bottom shadow. B/c can't have two shadows.
//-----------------------------------------------------------------

.lv-topbar:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    z-index: -1;
}

//-----------------------------------------------------------------
// TOPBAR LOGO
//-----------------------------------------------------------------

.lv-topbar-logo {
    display: table;
    height: 100%;
    padding: rem-calc(0 15);
    float: left;
    font-size: rem-calc(20);
    color: #444;

    @include media-breakpoint-up(md) {
        padding: rem-calc(0 20);
    }

    img { // May or may not appear
        display: none;
        width: auto;
        height: $lv-topbar-height-medium;
        padding: 14px 0;
        margin-right: rem-calc(12);
        box-sizing: border-box;
        border-radius: 4px;

        // Unecessary on mobile
        @include media-breakpoint-up(md) {
            display: inline-block;
            // display: none;
        }
    }

    &:hover {
        color: #444;
    }
}

//=========================================
// TOPBAR LOGO TEXT
//=========================================

.lv-topbar-logo-text {
    display: table-cell;
    line-height: 18px; // or 1 (?)
    white-space: nowrap;
    vertical-align: middle;
}

.lv-topbar-logo-text-truncate {
    display: inline-block;
    margin-bottom: -3px;
    max-width: 150px;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        max-width: 320px;
    }
}

.lv-topbar-logo-timestamp {
    font-size: rem-calc(11);
    font-weight: normal;
    padding-top: 10px;
    color: #9A9A9A;
}

//-----------------------------------------------------------------
// TOOLS (STRUCTURE)
//-----------------------------------------------------------------

.lv-topbar-tools {
    float: right;
    height: 100%;

    @include media-breakpoint-up(md) {
        float: left; // for alert
    }

    > ul {
        display: table;
        margin: 0; // failsafe
        height: 100%;
        padding: 0 50px 0 0;
        list-style: none;

        @include media-breakpoint-up(md) {
            padding-left: 40px; // locked
            margin-right: 35px;
        }

        > li {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

//-----------------------------------------------------------------
// CLOSE BUTTON
//-----------------------------------------------------------------

.lv-topbar-btns {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.lv-topbar-close-btn,
.lv-topbar-note-btn {
    position: relative;
    display: block;
    width: 50px;
    height: 100%;
    float: right;
    border: 0;
    background: none;
    font-size: 19px;
    line-height: 19px; //$lv-topbar-height-medium;
    text-align: center;
    color: desaturate(darken($lvb-button-color, 35%), 20%);
    transition: background 300ms ease;

    @include media-breakpoint-up(md) {
        width: 60px;
        border-left: 1px solid $gray-light;
    }

    &:hover {
        background: lighten(rgba(229, 231, 233, 1), 5%);
    }
}

// Cancel weird effect on touch devices
.touch .lv-topbar-close-btn,
.touch .lv-topbar-note-btn {
    &:hover {
        @include media-breakpoint-down(lg) {
            background: inherit;
        }
    }
}

.lv-topbar-note-number {
    position: absolute;
    top: 16%;
    right: 16%;
    background: $brand-danger;
    color: white;
    min-width: 15px;
    min-height: 15px;
    line-height: 15px;
    border-radius: 15px;
    font-size: 10px;
    padding: 0 4px;
    font-weight: bold;
}

//=========================================
//
//=========================================