/*
    BUTTONS.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn {
	text-transform: uppercase;
	min-width: rem-calc(170);
	font-size: rem-calc(18);
}

.lv-page .btn {
	&:active,
	&:focus {
		background: #b3b3b3;
		border-color: #b3b3b3;
		color: #444;
	}
}

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-outline {
	background: none;
	border-radius: 0;
	border: 3px solid white;
	text-transform: uppercase;
	font-size: rem-calc(21);
	font-weight: bold;
	padding: rem-calc(9 30);
	transition: background-color ease 300ms, border-color ease 300ms;

	&:hover {
		background: white;
		color: #444;
		border-color: white;
	}
}

//-----------------------------------------------------------------
// PLAY SYMBOL OVERLAY
//-----------------------------------------------------------------

.popup-youtube {
	position: relative;
	display: block;
	transition: opacity ease 300ms;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(/assets/img/layout/play-overlay@2x.png) no-repeat center center;
		background-size: cover;
	}

	&:hover {
		opacity: 0.6;
	}
}

//=========================================
//
//=========================================

