/*
    BUTTONS.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn {
	text-transform: uppercase;
	min-width: rem-calc(170);
	font-size: rem-calc(18);
}

.lv-page .btn {
	&:active,
	&:focus {
		background: #b3b3b3;
		border-color: #b3b3b3;
		color: #222;
	}
}

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-outline {
	background: none;
	border-radius: 0;
	border: 3px solid white;
	text-transform: uppercase;
	font-size: rem-calc(21);
	font-weight: bold;
	padding: rem-calc(9 30);
	transition: background-color ease 300ms, border-color ease 300ms;

	&:hover {
		background: white;
		color: #222;
		border-color: inherit;
	}
}

//=========================================
//
//=========================================

