/*
    HERO.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

//.lv-hero-wrapper {
//	@include media-breakpoint-down(sm) {
//	    padding-top: $header-height-sm;
//	}
//}

.lv-hero .lv-hero-item-caption {
	color: white;
	text-align: center;
	padding: rem-calc(30);

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	// @include media-breakpoint-down(sm) {
	//     // background: rgba(black, 0.3);
	// }

	.lv-hero-header {
		font-weight: bold;
		font-size: rem-calc(30);
		margin-bottom: 30px;

		@include media-breakpoint-up(md) {
		    font-size: rem-calc(36);
		}
	}

	.lv-hero-header-underline {
		width: 40%;
		height: 2px;
		background: white;
		margin: 0 auto 45px auto;

		@include media-breakpoint-up(md) {
		    width: 56%;
		}
	}
}

.lv-hero-arrow-scroll {
	position: absolute;
	bottom: 25px;
	left: calc(50% - 20px);
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: rgba(white, 0.2);
	font-size: rem-calc(30);
	line-height: 40px;
	text-align: center;
	color: black;
	z-index: 1000;
    animation: pulsate 1s ease-out 1s alternate infinite;

	@keyframes pulsate {
	    0% {transform: translateY(0);}
	    100% {transform: translateY(10px);}
	}
}

//-----------------------------------------------------------------
// Media Symbol Video
//-----------------------------------------------------------------

.lv-hero-wrapper {
	overflow: hidden;
}

.lv-hero-caption-wrapper {
	position: relative;
	z-index: 1;
}

.lv-hero video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1.5s opacity;
	opacity: 0;

	@include media-breakpoint-down(lg) {
	    display: none;
	}
}

.has-loaded .lv-hero video {
	opacity: 1;
}

video::-webkit-media-controls {
    display: none !important; // hacky
}

//=========================================
//
//=========================================