/*
    LOADER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// LOADER
//-----------------------------------------------------------------

.lv-page-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333333;
	z-index: 2147483647;
	transition: opacity ease 1s, visibility ease 1s;

	&.has-loaded {
		opacity: 0;
		visibility: hidden;
	}
}

.lt-ie10 .lv-page-loader {
    display: none;
}

//-----------------------------------------------------------------
// SPINNER
//-----------------------------------------------------------------

.lv-page-loader .display-table-cell {
    text-align: center;
    // padding-bottom: 200px;
}

//-----------------------------------------------------------------
// SPINNER
//-----------------------------------------------------------------

.lv-spinner {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}

//-----------------------------------------------------------------
// SPINNER
//-----------------------------------------------------------------

// .lv-spinner {
//     width: 60px;
//     height: 60px;
//     background: white;
//     display: inline-block;
//     animation: sk-rotateplane 1.2s infinite ease-in-out;
// }

// @-webkit-keyframes sk-rotateplane {
//   0% { -webkit-transform: perspective(120px) }
//   50% { -webkit-transform: perspective(120px) rotateY(180deg) }
//   100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
// }

// @keyframes sk-rotateplane {
//     0% {
//         transform: perspective(120px) rotateX(0deg) rotateY(0deg);
//     } 50% {
//         transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
//     } 100% {
//         transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
//     }
// }