/*
    NAV.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// NAV
//-----------------------------------------------------------------

.lv-page .nav-list {
	padding-top: 20px;

	@include media-breakpoint-up(md) {
	    position: relative;
	    top: 6px;
	}

	@include media-breakpoint-up(xl) {
		left: 25px; // easiest way to go about it
		padding-top: 0;
	}

	li {
		padding: 0 !important;
		margin: 0 !important;
	}

	a {
		display: block;
		padding: 0 15px 0 15px;
		color: $brand-quinary;

		@include media-breakpoint-up(md) {
		    display: inline-block;
		}

		&:hover {
			@include media-breakpoint-up(md) {
			    color: white;
			}
		}
	}
}

//=========================================
//
//=========================================