---
layout: base
---

{% assign settings = site.data.settings %}
{% assign case_studies = site.pages | where: 'content_type', 'case_study' | where: 'featured_on_homepage', true | sort: 'feature_order' %}
{% assign news = site.data.news %}

{% include hero.html %}

<!-- TEXT -->
<section id="tagline" class="section-dark">
	<div class="container" style="max-width: 70%;">
		<p class="intro-text m-b-0 text-xs-center">{{ settings.site_tagline }}</p>
	</div>
</section>

<!-- GALLERY -->
<ul class="block-grid-xs-1 block-grid-md-3 gallery-grid">
	{% for item in case_studies  %}
	<li>
		<a class="media-tile" href="{{ item.url }}">
		    <img width="100%" src="{{ item.feature_image }}">
		    <div class="media-tile-overlay">
		        <div class="display-table">
		            <div class="display-table-cell">
		            	<p><img width="100" src="/assets/img/layout/logo-mark-white@2x.png"></p>
		                <h4 class="media-tile-header">{{ item.title }}</h4>
		            </div>
		        </div>
		    </div>
		</a>
	</li>
	{% endfor %}
</ul>

<!-- LATEST NEWS -->
<section class="section section-light">
	<div class="container">
		<div class="carousel">
			{% for item in news limit: 8 %}
				<div class="carousel-slide">
					<div class="row" style="display: flex; align-items: center;">
						<div class="col-md-8 col-lg-7">
							<a href="/news/"><h2 class="m-b-2">Latest News</h2></a>
							<article>
								<h3 class="subtle-link">{{ item.date }} - {{ item.title }}</h3>
								<p class="lead m-b-2">{{ item.body | truncate: 180 }}</p>
								<p><a href="/news/" class="anchor-link">MORE <i class="fa fa-angle-right"></i></a></p>
							</article>
						</div>
						<div class="col-md-4 offset-lg-1 hidden-sm-down">
							<img style="width: auto; max-width: 100%; margin: auto; display: block;" src="{{ item.image }}">
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>