---
layout: master
---

{% assign settings = site.data.settings %}
{% include hero.html %}
{% assign case_studies = site.data.case_studies %}
{% assign news = site.data.articles %}

<!-- TEXT -->
<section class="section-dark">
	<div class="container">
		<p class="lead m-b-0 text-xs-center">Our goal is to build trust and develop the working relationship with our clients that will inspire results.<br>
		We know the more we learn and improve the greater our clients' success will be.</p>
	</div>
</section>

<!-- GALLERY -->
<ul class="block-grid-xs-1 block-grid-md-3 gallery-grid">
	{% for item in case_studies %}
	<li>
		<a class="media-tile" href="/case-studies/">
		    <img width="100%" src="{{ item.image }}">
		    <div class="media-tile-overlay">
		        <div class="display-table">
		            <div class="display-table-cell">
		                <h4 class="media-tile-header">{{ item.title }}</h4>
		            </div>
		        </div>
		    </div>
		</a>
	</li>
	{% endfor %}
</ul>

<!-- LATEST NEWS -->
<section class="section" hidden>
	<div class="container">
		<div class="carousel">
			{% for item in news | limit: 8 %}
			<article>
				<div class="row">
					<div class="col-md-8 col-lg-7">
						<h3 class="m-b-1">Latest News</h3>
						<h4 class="h6">06 June 2015 - Health Direct win</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p><a href="/">MORE <i class="fa fa-angle-right"></i></a></p>
					</div>
					<div class="col-md-4 col-lg-offset-1 hidden-sm-down">
						<img width="100%" src="http://placehold.it/370x245">
					</div>
				</div>
			</article>
			{% endfor %}
		</div>
	</div>
</section>