<!DOCTYPE html>
<!--[if lt IE 9]>       <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>          <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->  <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<title>{% include snippets/seo_title.html %}</title>

	<!-- CDN -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">

	<!-- Fav Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144-precomposed.png">
	<link rel="shortcut icon" href="/assets/favicon.ico">

	<!-- build:css({src,.tmp}) /assets/css/minified.css -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- endbuild -->

</head>
<body class="{{ page.theme }}" dev-mode-enabled="{{ site.dev_mode_enabled }}">
    <div class="lv-super">
        <div class="lv-page">

            <!-- HEADER -->
            <header class="global-header FixedTop">
              {% include header.html %}
            </header>

            <!-- NAVIGATION -->
            <nav class="global-navigation hidden-lg-down">
              <div class="container">
                  <div class="topbar">
                      {% include snippets/navigation.html %}
                  </div>
              </div>
            </nav>

          {{ content }}

          <!-- FOOTER -->
          <footer class="global-footer">
              {% include footer.html %}
          </footer>

      </div> <!-- /.lv-page -->
  </div> <!-- /.lv-super -->




  <!-- OFF-CANVAS MENU -->
  <!-- <nav class="off-canvas-menu" data-off-canvas-menu aria-hidden="true"> -->
      <!-- { % include snippets/navigation.html %} -->
  <!-- </nav> -->


  <!--[if lt IE 9]>
      <div class="lv-alert-bar">
          <p>You're using an outdated browser. Please <a title="Click me, you know you want to." href="http://outdatedbrowser.com">upgrade your browser</a> to improve your experience.</p>
          <span class="lv-alert-bar-close-btn">&times;</span>
      </div>
  <![endif]-->

<!-- **** JAVASCRIPT **** -->

<!-- build:js(src) /assets/scripts/minified.js -->
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/_bower_components/tether/dist/js/tether.min.js"></script>
<script src="/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/_bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="/_bower_components/bxSlider/jquery.bxslider.min.js"></script>
<script src="/_bower_components/jQuery.mmenu/src/js/jquery.mmenu.min.all.js"></script>
<script src="/_bower_components/nprogress/nprogress.js"></script>

<script src="/scripts/vendor/headroom.js"></script>
<script src="/scripts/liquidvisual/alert-bar.js"></script>
<script src="/scripts/liquidvisual/equal-height.js"></script>
<script src="/scripts/liquidvisual/hero.js"></script>
<script src="/scripts/liquidvisual/utilities.js"></script>
<script src="/scripts/liquidvisual/responsive-utility.js"></script>
<script src="/scripts/liquidvisual/key.js"></script>
<script src="/scripts/main.js"></script>
<!-- endbuild -->

{% comment %}
    <script src="/scripts/liquidvisual/hero.js"></script>
    <script src="/_bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/_bower_components/slick.js/slick/slick.js"></script>
    <script src="/_bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/_bower_components/bxSlider/jquery.bxslider.min.js"></script>
    <script src="/_bower_components/isotope/dist/isotope.pkgd.min.js"></script>
    <script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/_bower_components/slick.js/slick/slick.js"></script>
    <script src="/_bower_components/WOW/dist/wow.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endcomment %}

<!-- No Javascript Warning -->
<noscript>
    <div class="lv-alert-bar">
        <p>Your browser has Javascript disabled. Some features may be limited.</p>
    </div>
</noscript>

</body>
</html>