/*
    CAROUSEL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// CAROUSEL
//-----------------------------------------------------------------

.bx-controls {
	text-align: center;

	.bx-pager-item {
		margin: 0 5px;
	}

	.bx-pager-item a {
		width: 8px;
		height: 8px;
		border: 0;
	}
}

.carousel article {
	margin-right: 50px;
}

//=========================================
//
//=========================================