<style>
.icon-font {
    background: white;
    height: 200px;
    line-height: 200px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
</style>
<h2>Assets</h2>
<br>
<h3>Fonts</h3>
<ul class="block-grid-lg-5 mobile-grid">
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/favicon.ico
        <img width=100% src=/assets/favicon.ico>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/FontAwesome.otf
        <img width=100% src=/assets/fonts/FontAwesome.otf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/fontawesome-webfont.eot
        <img width=100% src=/assets/fonts/fontawesome-webfont.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/fontawesome-webfont.svg
        <img width=100% src=/assets/fonts/fontawesome-webfont.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/fontawesome-webfont.ttf
        <img width=100% src=/assets/fonts/fontawesome-webfont.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/fontawesome-webfont.woff
        <img width=100% src=/assets/fonts/fontawesome-webfont.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/fonts/fontawesome-webfont.woff2
        <img width=100% src=/assets/fonts/fontawesome-webfont.woff2>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/QSRH@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/QSRH@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/agri@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/agri@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/helm@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/helm@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/living-turf-alt@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/living-turf-alt@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/living-turf@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/living-turf@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/placeholder@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/placeholder@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/starting-blocks@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/starting-blocks@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/stellar-women@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/stellar-women@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/case-studies/stellar@2x.jpg
        <img width=100% src=/assets/img/content/case-studies/stellar@2x.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/eye-q.png
        <img width=100% src=/assets/img/content/eye-q.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/hero/hero-bose.jpg
        <img width=100% src=/assets/img/content/hero/hero-bose.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/hero/hero-default.jpg
        <img width=100% src=/assets/img/content/hero/hero-default.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/hero/hero-ocean.jpg
        <img width=100% src=/assets/img/content/hero/hero-ocean.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/hero/video-1.jpg
        <img width=100% src=/assets/img/content/hero/video-1.jpg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/logo-dark-backup.png
        <img width=100% src=/assets/img/content/logo-dark-backup.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/logo-dark.png
        <img width=100% src=/assets/img/content/logo-dark.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/logo-events.png
        <img width=100% src=/assets/img/content/logo-events.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/logo-light.png
        <img width=100% src=/assets/img/content/logo-light.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/logo-mark@2x.png
        <img width=100% src=/assets/img/content/logo-mark@2x.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/content/our-process.png
        <img width=100% src=/assets/img/content/our-process.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/layout/logo-mark-white@2x.png
        <img width=100% src=/assets/img/layout/logo-mark-white@2x.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/layout/video-placeholder.png
        <img width=100% src=/assets/img/layout/video-placeholder.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/layout/video-placeholder@2x.png
        <img width=100% src=/assets/img/layout/video-placeholder@2x.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/dots-black.png
        <img width=100% src=/assets/img/ui/dots-black.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/dots-overlay.png
        <img width=100% src=/assets/img/ui/dots-overlay.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/dots-white.png
        <img width=100% src=/assets/img/ui/dots-white.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/fa-search.svg
        <img width=100% src=/assets/img/ui/fa-search.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/fadeout-white.png
        <img width=100% src=/assets/img/ui/fadeout-white.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/liquidvisual-logo.svg
        <img width=100% src=/assets/img/ui/liquidvisual-logo.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/no-face.png
        <img width=100% src=/assets/img/ui/no-face.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/placeholder.png
        <img width=100% src=/assets/img/ui/placeholder.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/quotes.png
        <img width=100% src=/assets/img/ui/quotes.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/quotes.svg
        <img width=100% src=/assets/img/ui/quotes.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/search-icon.png
        <img width=100% src=/assets/img/ui/search-icon.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/search-icon.svg
        <img width=100% src=/assets/img/ui/search-icon.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/img/ui/swipe-right.svg
        <img width=100% src=/assets/img/ui/swipe-right.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/video/note.md
        <img width=100% src=/assets/video/note.md>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/video/video-1.mp4
        <img width=100% src=/assets/video/video-1.mp4>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/video/video-1.webm
        <img width=100% src=/assets/video/video-1.webm>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Bold.eot
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Bold.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Bold.svg
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Bold.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Bold.ttf
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Bold.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Bold.woff
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Bold.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-BoldIta.eot
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-BoldIta.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-BoldIta.svg
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-BoldIta.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-BoldIta.ttf
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-BoldIta.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-BoldIta.woff
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-BoldIta.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Book.eot
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Book.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Book.svg
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Book.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Book.ttf
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Book.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Book.woff
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Book.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Light.eot
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Light.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Light.svg
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Light.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Light.ttf
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Light.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-Light.woff
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-Light.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-LightIta.eot
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-LightIta.eot>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-LightIta.svg
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-LightIta.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-LightIta.ttf
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-LightIta.ttf>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/fonts/GothamRnd-LightIta.woff
        <img width=100% src=/assets/webvisual/assets/fonts/GothamRnd-LightIta.woff>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/layout/liquidvisual-logo.svg
        <img width=100% src=/assets/webvisual/assets/img/layout/liquidvisual-logo.svg>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L1-center.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L1-center.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L1-left.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L1-left.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L1-right.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L1-right.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L3-bottom.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L3-bottom.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L3-center.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L3-center.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L3-li-top.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L3-li-top.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/L3-ul-top.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/L3-ul-top.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/vertical-line.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/vertical-line.png>
    </li>
    <li>
        <div class=icon-font>
            <div class="fa fa-font"></div>
        </div>/assets/webvisual/assets/img/slickmap/white-highlight.png
        <img width=100% src=/assets/webvisual/assets/img/slickmap/white-highlight.png>
    </li>
</ul>

<!-- https://codepen.io/herschel666/post/scaling-iframes-css-transforms -->
