


<style>
	.section-component {
		background: white;
		padding: 15px;
		margin-bottom: 4rem;
		box-shadow: 0px 6px 14px 2px rgba(0,0,0,0.1);
		border-radius: 8px;
	}

	@media (min-width: 768px) {
		.section-component {
			background: white;
			padding: 30px;
			margin-bottom: 4rem;
			box-shadow: 0px 6px 14px 2px rgba(0,0,0,0.1);
		}
	}

	.component-desc {
		background: #FAF7F2;
		padding: 15px;
		border-radius: 5px;
	}
</style>

<p class="lead">A handy reusable collection of UI patterns, modules and components used across Tom Thumb.</p>

<!-- COMPONENT SELECTOR -->
<nav class="m-t-2 m-b-3">
	<select class="c-select" name="Select Components" id="component-select">
		<option value>Jump to component...</option>
			
				<option value="#guide-accordion">Accordion</option>
				
		
				<option value="#guide-basic-form">Basic form</option>
				
		
				<option value="#guide-media-tile">Media tile</option>
				
		
	</select>
</nav>

<!-- COMPONENT SELECTOR: JAVASCRIPT -->
<script>
  (function (document, undefined) {
  	document.getElementById('component-select').onchange = function() {
    	var val = this.value;
      	if (val !== "") window.location = val;
    }
  })(document);
</script>

<!-- COMPONENTS -->

	<section class="section-component">
		<header>
			<h2 id="guide-accordion">Accordion</h2>

			<!-- DESC -->
			<div class="component-desc m-y-2">
				
					<p><strong>Usage:</strong> A simple accordion</p>
				
				
					<p class="m-b-0"><strong>SCSS partial:</strong> <a target="_blank" href="src/_scss/app/components/_accordion.scss">src/_scss/app/components/_accordion.scss</a></p>
				
			</div>
		</header>

		<!-- RENDERED COMPONENT -->
		<div class="component-rendered m-y-2">
			<div class="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-1">
            <h2 class="h4 panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent=".accordion" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                Collapsible Group Item long name #1
                <i class="fa fa-angle-up"></i>
            </a>
        </h2>
        </div>
        <div aria-expanded="false" id="collapse-1" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
            <div class="panel-body-inner">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    
</div>
		</div>

		<!-- HTML -->
		<strong>The HTML:</strong>
		<div class="component-code">
			<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"accordion"</span> <span class="na">role=</span><span class="s">"tablist"</span> <span class="na">aria-multiselectable=</span><span class="s">"true"</span><span class="nt">&gt;</span>
    
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel panel-default"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-heading"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">id=</span><span class="s">"heading-1"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h2</span> <span class="na">class=</span><span class="s">"h4 panel-title"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"collapsed"</span> <span class="na">data-toggle=</span><span class="s">"collapse"</span> <span class="na">data-parent=</span><span class="s">".accordion"</span> <span class="na">href=</span><span class="s">"#collapse-1"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">aria-controls=</span><span class="s">"collapse-1"</span><span class="nt">&gt;</span>
                Collapsible Group Item long name #1
                <span class="nt">&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-angle-up"</span><span class="nt">&gt;&lt;/i&gt;</span>
            <span class="nt">&lt;/a&gt;</span>
        <span class="nt">&lt;/h2&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">aria-expanded=</span><span class="s">"false"</span> <span class="na">id=</span><span class="s">"collapse-1"</span> <span class="na">class=</span><span class="s">"panel-body panel-collapse collapse"</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">aria-labelledby=</span><span class="s">"heading-1"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"panel-body-inner"</span><span class="nt">&gt;</span>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
    
<span class="nt">&lt;/div&gt;</span></code></pre></figure>
		</div>
	</section>

	<section class="section-component">
		<header>
			<h2 id="guide-basic-form">Basic form</h2>

			<!-- DESC -->
			<div class="component-desc m-y-2">
				
					<p><strong>Usage:</strong> A simple contact form</p>
				
				
					<p class="m-b-0"><strong>SCSS partial:</strong> <a target="_blank" href="src/_scss/app/components/_forms.scss">src/_scss/app/components/_forms.scss</a></p>
				
			</div>
		</header>

		<!-- RENDERED COMPONENT -->
		<div class="component-rendered m-y-2">
			<!-- IF SUCCESS -->
<div class="alert alert-success" hidden>
	<h4>Success!</h4>
	<p>Your form has been submitted.</p>
</div>

<!-- IF FAILURE -->
<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>Oops!</h4>
    <p>Something went wrong. Please check your details.</p>
</div>

<form data-toggle="validator">
    <fieldset>

        <div class="row">
            <div class="col-md-6">

                <!-- NAME -->
                <div class="form-group">
                    <label for="name">Your Name (required)</label>
                    <input class="form-control" id="name" name="Name" type="text" placeholder="" required>
                    <small class="error">Your name is required.</small>
                </div>
            </div>
            <div class="col-md-6">

                <!-- EMAIL -->
                <div class="form-group">
                    <label for="email">Your Email (required)</label>
                    <input class="form-control" id="email" name="Email" type="email" placeholder="" required>
                    <small class="error">A valid email is required.</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <!-- WEBSITE URL -->
                <div class="form-group">
                    <label for="website-url">Website URL</label>
                    <input class="form-control" id="website-url" name="Website URL" type="text" placeholder="">
                </div>
            </div>
            <div class="col-md-6">

                <!-- SUBJECT -->
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" id="subject" name="Subject" type="text" placeholder="">
                </div>
            </div>
        </div>

    	<!-- MESSAGE -->
    	<div class="form-group">
            <label for="message">Your Message (required)</label>
            <textarea class="form-control" id="message" name="Message" rows="3" placeholder="Message" required></textarea>
            <small class="error">A message is required.</small>
    	</div>

    	<!-- SUBMIT -->
        <button type="submit" class="btn btn-primary">Send</button>

    </fieldset>
</form>
		</div>

		<!-- HTML -->
		<strong>The HTML:</strong>
		<div class="component-code">
			<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- IF SUCCESS --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">hidden</span><span class="nt">&gt;</span>
	<span class="nt">&lt;h4&gt;</span>Success!<span class="nt">&lt;/h4&gt;</span>
	<span class="nt">&lt;p&gt;</span>Your form has been submitted.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="c">&lt;!-- IF FAILURE --&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger alert-dismissible fade in"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"close"</span> <span class="na">data-dismiss=</span><span class="s">"alert"</span> <span class="na">aria-label=</span><span class="s">"Close"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/span&gt;</span>
    <span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;h4&gt;</span>Oops!<span class="nt">&lt;/h4&gt;</span>
    <span class="nt">&lt;p&gt;</span>Something went wrong. Please check your details.<span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;form</span> <span class="na">data-toggle=</span><span class="s">"validator"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>

                <span class="c">&lt;!-- NAME --&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"name"</span><span class="nt">&gt;</span>Your Name (required)<span class="nt">&lt;/label&gt;</span>
                    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"name"</span> <span class="na">name=</span><span class="s">"Name"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">""</span> <span class="na">required</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;small</span> <span class="na">class=</span><span class="s">"error"</span><span class="nt">&gt;</span>Your name is required.<span class="nt">&lt;/small&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>

                <span class="c">&lt;!-- EMAIL --&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"email"</span><span class="nt">&gt;</span>Your Email (required)<span class="nt">&lt;/label&gt;</span>
                    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"email"</span> <span class="na">name=</span><span class="s">"Email"</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">placeholder=</span><span class="s">""</span> <span class="na">required</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;small</span> <span class="na">class=</span><span class="s">"error"</span><span class="nt">&gt;</span>A valid email is required.<span class="nt">&lt;/small&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>

                <span class="c">&lt;!-- WEBSITE URL --&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"website-url"</span><span class="nt">&gt;</span>Website URL<span class="nt">&lt;/label&gt;</span>
                    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"website-url"</span> <span class="na">name=</span><span class="s">"Website URL"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">""</span><span class="nt">&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-6"</span><span class="nt">&gt;</span>

                <span class="c">&lt;!-- SUBJECT --&gt;</span>
                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
                    <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"subject"</span><span class="nt">&gt;</span>Subject<span class="nt">&lt;/label&gt;</span>
                    <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"subject"</span> <span class="na">name=</span><span class="s">"Subject"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">placeholder=</span><span class="s">""</span><span class="nt">&gt;</span>
                <span class="nt">&lt;/div&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

    	<span class="c">&lt;!-- MESSAGE --&gt;</span>
    	<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"form-group"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"message"</span><span class="nt">&gt;</span>Your Message (required)<span class="nt">&lt;/label&gt;</span>
            <span class="nt">&lt;textarea</span> <span class="na">class=</span><span class="s">"form-control"</span> <span class="na">id=</span><span class="s">"message"</span> <span class="na">name=</span><span class="s">"Message"</span> <span class="na">rows=</span><span class="s">"3"</span> <span class="na">placeholder=</span><span class="s">"Message"</span> <span class="na">required</span><span class="nt">&gt;&lt;/textarea&gt;</span>
            <span class="nt">&lt;small</span> <span class="na">class=</span><span class="s">"error"</span><span class="nt">&gt;</span>A message is required.<span class="nt">&lt;/small&gt;</span>
    	<span class="nt">&lt;/div&gt;</span>

    	<span class="c">&lt;!-- SUBMIT --&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Send<span class="nt">&lt;/button&gt;</span>

    <span class="nt">&lt;/fieldset&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></figure>
		</div>
	</section>

	<section class="section-component">
		<header>
			<h2 id="guide-media-tile">Media tile</h2>

			<!-- DESC -->
			<div class="component-desc m-y-2">
				
					<p><strong>Usage:</strong> Used to display case studies</p>
				
				
					<p class="m-b-0"><strong>SCSS partial:</strong> <a target="_blank" href="src/_scss/app/components/_media-tile.scss">src/_scss/app/components/_media-tile.scss</a></p>
				
			</div>
		</header>

		<!-- RENDERED COMPONENT -->
		<div class="component-rendered m-y-2">
			<a class="media-tile" href="/case-studies/">
    <img width="100%" src="http://placehold.it/400x260">
    <div class="media-tile-overlay">
        <div class="display-table">
            <div class="display-table-cell">
                <h4 class="media-tile-header">Title here</h4>
            </div>
        </div>
    </div>
</a>
		</div>

		<!-- HTML -->
		<strong>The HTML:</strong>
		<div class="component-code">
			<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"media-tile"</span> <span class="na">href=</span><span class="s">"/case-studies/"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;img</span> <span class="na">width=</span><span class="s">"100%"</span> <span class="na">src=</span><span class="s">"http://placehold.it/400x260"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"media-tile-overlay"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"display-table"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"display-table-cell"</span><span class="nt">&gt;</span>
                <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"media-tile-header"</span><span class="nt">&gt;</span>Title here<span class="nt">&lt;/h4&gt;</span>
            <span class="nt">&lt;/div&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/a&gt;</span></code></pre></figure>
		</div>
	</section>
