---
---

<style>
    .has-children {
        background: #DDE3EC;
        padding: 15px;
        border-radius: 4px;
        /*border: 1px solid red;*/
        overflow: hidden;
        position: relative;
    }
</style>

<h2>Settings</h2><br>

<p>The following properties are accessible via <code>site.data.settings</code></p><br>

<form style="max-width: 600px;">
    {% for item in site.data.settings %}
        <!-- Second Level -->
        {% assign has_children = item[1][0] %}

        <section class="{% if has_children %}has-children{% endif %}">
            <div class="form-group row">
                <label for="setting" class="col-sm-4 form-control-label">{{ item[0] | capitalize | replace: '_', ' ' }}</label>
                <div class="col-sm-8">

                    {% if has_children %}
                        <a href="#">Expand <i class="fa fa-caret-down"></i></a>
                    {% else %}
                        <!-- Print Value as Normal -->
                        <input type="text" class="form-control" id="setting" placeholder="" value="{{ item[1] }}">
                    {% endif %}

                </div>
            </div> <!-- /.row -->

            <!-- Show Expanded Underneath -->
             {% if has_children %}
                 {% for item_nested in item[1] %}
                     {% for item_final in item_nested %}
                           <div class="form-group row">
                             <label for="inputPassword" class="col-sm-4 form-control-label">{{ item_final[0] | capitalize | replace: '_', ' ' }}</label>
                             <div class="col-sm-8">
                               <input type="text" class="form-control" id="inputPassword" placeholder="text" value="{{ item_final[1] }}">
                             </div>
                           </div>
                     {% endfor %}
                 {% endfor %}
             {% endif %}
        </section>
    {% endfor %}
</form>