---
---

<!-- http://stackoverflow.com/questions/13491657/javascript-library-to-convert-web-page-to-pdf -->

<h2>Sitemap</h2><br>

<a class="btn btn-secondary" href="#" role="button"><i class="fa fa-print"></i> Print</a>
<a class="btn btn-secondary" href="#" role="button"><i class="fa fa-download"></i> Download PDF</a>

<div class="sitemap">

	<ul id="utilityNav">
		{% assign utility_links = site.data.sitemap | where: "type", "utility" %}
		{% for item in utility_links %}
			<li><a href="#/preview{{item.url}}"><small>{{ item.url }}</small><br> {{ item.title }}</a>
		{% endfor %}
	</ul>

	<br>
	<br>
	<br>
	<br>

	<ul id="primaryNav" class="">
	    {% for item in site.data.sitemap %}
	    	{% unless item.type != utility %}
		        <li><a href="#/preview{{item.url}}"><small>{{ item.url }}</small><br> <span class="top-count">{{ forloop.index }}</span> {{ item.title }}</a>
		            {% if item.children %}
		                <ul>
		                    {% for nested_item in item.children %}
		                        <li><a href><small>{{ item.url }}</small><br> {{ nested_item.title }} </a>
									{% if nested_item.children %}
									    <ul>
									        {% for nested_nested_item in nested_item.children %}
									            <li><a href><small>{{ item.url }}</small><br> {{ nested_nested_item.title }}</a></li>
									        {% endfor %}
									    </ul>
									{% endif %}
		                        </li>
		                    {% endfor %}
		                </ul>
		            {% endif %}
		        </li>
	        {% endunless %}
	    {% endfor %}
	</ul>
</div>