---
layout: base__page
---

{% assign settings = site.data.settings %}
{% assign contacts = settings.contacts %}
{% assign address = settings.offices[0].address %}
{% assign google_map_key = settings.google_map_key  %}

<!-- BANNER TEXT -->
<section class="section-dark is-slim">
	<div class="container">
		<p class="intro-text m-b-0 text-xs-center">Our goal is to partner with business leaders who believe what we believe and work together so we can all succeed. We look forward to meeting you.</p>
	</div>
</section>

{% include snippets/google_map.html %}

<!-- CONTACT -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p><img width="240" src="/assets/img/content/logo-simple.png" alt="{{ settings.company_title }}"></p>
				<div class="spacer m-b-1"></div>
				<p class="h6 m-b-2">{{ settings.offices[0].address }}</p>
				<div class="spacer hidden-md-down" style="height: 37px;"></div>

				<ul class="block-grid-md-2">
					{% for person in contacts %}
					<li>
						<h4 class="h6">{{ person.name }}</h4>
						<p>Email: <a class="subtle-link" href="mailto:{{ person.email }}">{{ person.email }}</a><br>
						Phone: <a class="subtle-link" href="tel:{{ person.mob }}">{{ person.mob }}</a></p>
					</li>
					{% endfor %}
				</ul>
				<div class="spacer m-b-1"></div>

			</div>
			<div class="col-md-6">
				{% include form_contact.html %}
			</div>
		</div>
	</div>
</section>