---
layout: base__page
---

{% assign news_placeholder_img = '/assets/img/content/news/tom-thumb-news-placeholder.png' %}
{% assign news = site.data.news %}

<!-- BANNER TEXT -->
<section class="section-dark is-slim">
	<div class="container">
		<p class="intro-text m-b-0 text-xs-center">{{ page.tagline }}</p>
	</div>
</section>

<!-- NEWS FEED -->
<section class="section">
	<div class="container">
		<h1 class="m-b-2 text-uppercase">{{ page.title }}</h1>
		<div class="row">
			<div class="col-lg-8">

				{% for item in news %}
					{% assign currentdate = item.date | date: "%Y" %}
						{% if currentdate != date %}
							<h2 class="subtle-link m-b-3" id="y{{currentdate}}">{{ currentdate }}</h2>
							{% assign date = currentdate %}
						{% endif %}
						<article>
							<div class="media">

								<span class="media-left p-r-1 hidden-sm-down">
									<img width="150" class="media-object" src="{{ item.image | default: news_placeholder_img }}" alt="Thumbnail">
								</span>

								<div class="media-body">
									<a href="/news/news-item/"><h3 class="media-heading m-b-0">{{ item.title }}</h3></a>
									<p><date>{{ item.date }}</date></p>
									{{ item.body | markdownify }}
								</div>

							</div>
						</article>
						<hr class="m-y-2">
				{% endfor %}
				<div class="spacer m-b-2 hidden-md-up"></div>

			</div>
			<div class="offset-lg-1 col-lg-3">
				<h4 class="h3 m-b-1 text-uppercase">Jump to year</h4>
				<ul class="list-group">
					{% for item in news %}
						{% assign currentdate = item.date | date: "%Y" %}
							{% if currentdate != date %}
								<li class="list-group-item"><a href="#y{{currentdate}}">{{ currentdate }}</a></li>
								{% assign date = currentdate %}
							{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>