---
layout: base__page
---

{% assign supporting_image = page.image %}

<!-- BANNER TEXT -->
<section class="section-dark is-slim">
	<div class="container">
		<p class="intro-text m-b-0 text-xs-center">{{ page.tagline }}</p>
	</div>
</section>

<!-- CONTENT -->
<section class="section">
	<div class="container">
		<p><a class="anchor-link" href="/about-us/"><i class="fa fa-reply"></i>&nbsp; RETURN</a></p>
		<h1 class="m-b-1">{{ page.title }} <br><small class="subtle-link">{{ page.job_title }}</small></h1>
		<div class="row">

			<div class="col-md-3">
				{% if supporting_image %}
					<p><img width="100%" src="{{ supporting_image }}" alt="{{ page.title }}"></p>
				{% endif %}
			</div>

			<div class="col-md-7">
				{{ content }}
				<div class="spacer m-b-2 hidden-md-up"></div>
			</div>

		</div>

	</div>
</section>