/*
    VARIABLES.CSS

    - Last updated: 23.07.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// MENU
//-----------------------------------------------------------------

$app-menu-width-small: 280px;
$app-menu-width-medium: 320px; ////320px; //370px;
$app-menu-toolbar-width: 55px; //50px;

//-----------------------------------------------------------------
// TOPBAR
//-----------------------------------------------------------------

$lv-topbar-height-small: 60px;
$lv-topbar-height-medium: 60px;

//-----------------------------------------------------------------
// STAGE
//-----------------------------------------------------------------

$lv-stage-top-offset: 6px;

//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

$lvb-button-color: saturate(darken(#EFF1F4, 5%), 10%); //#D5DAE6;

//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

$lv-footer-height: 0; //44px;

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------