/*
    THEMES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// HOME THEME
//-----------------------------------------------------------------

.theme-home-hero {
	.topbar .top-parent-anchor {
	    color: $gray-light;

	    &:hover {
	    	color: white;
	    }
	}
}

.theme-home-hero {
	.headroom--top.global-header {
		@include media-breakpoint-down(sm) {
		    background: none;
		    // position: absolute;
		}
	}

	.headroom--top .lv-hamburger-top,
	.headroom--top .lv-hamburger-middle,
	.headroom--top .lv-hamburger-bottom {
	 	background: white;
	 }

	.lv-hero-wrapper {
		@include media-breakpoint-down(sm) {
		    padding-top: 0;
		}
	}

	.lv-hero-item {
		@include media-breakpoint-down(sm) {
			padding: rem-calc(60 0);
		}
	}
}

//-----------------------------------------------------------------
// LIGHT THEME
//-----------------------------------------------------------------

.theme-light-hero {
	.topbar .top-parent-anchor {
	    // text-shadow: 0px 1px 2px rgba(black, 0.5);
	    color: darken($gray-light, 30%);

	    &:hover {
	    	color: white;
	    }
	}
}

//=========================================
// TEMPORARY - UNTIL CLIENT REVERSES
//=========================================

.lv-hero.has-fixed-height {
	@include media-breakpoint-down(sm) {
	    display: none;
	}
}