/*
    INIT.CSS

    - Last updated: 28.07.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// INIT STATES
//-----------------------------------------------------------------

.lv-topbar,
.lv-topbar:after,
.lv-stage {
    border-radius: 6px 0 0 0;
}

.is-loading {
    display: none;
}

//-----------------------------------------------------------------
// MENU BUTTON
//-----------------------------------------------------------------

.lv-menu-btn .text:after {
	content: "Close";
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================