/*
    SITEMAP.CSS

    - Last updated: 21.04.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
/* ----------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is
	4 columns (25%). 5 columns would be 20%, 6 columns would
	be 16.6%, etc.
---------------------------------------------------------------- */

#primaryNav > li {
	width: 50%;

	@include media-breakpoint-up(xl) {
	    width: 20%;
	}
}

//-----------------------------------------------------------------
//	General Styles
//-----------------------------------------------------------------

.sitemap ol,
.sitemap ul {
	list-style: none;
}

.top-count {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	color: white;
	display: inline-block;
	background: #F15B43;
	z-index: 10;
}

//-----------------------------------------------------------------
// Site Map Styles
//-----------------------------------------------------------------

//=========================================
// Top Level
//=========================================

#primaryNav {
	margin: 0;
	float: left;
	width: 100%;
}

#primaryNav > li:first-child {
	display: block;
	float: none;
	background: url('images/L1-left.png') center bottom no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0;
}

#primaryNav li {
	float: left;
	background: url('images/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px;
}

#primaryNav li a { //-----------------------------------------------------------------
	position: relative;
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #c3eafb url('images/white-highlight.png') top left repeat-x;
	background-color: darken($gray-light, 10%);
}

#primaryNav li:last-child {
	background: url('images/L1-right.png') center top no-repeat;
}

.sitemap small {
	color: rgba(black, 0.2);
	text-transform: uppercase;
	font-weight: bold;
}

//=========================================
// Second Level
//=========================================

#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 0;
	padding: 10px 0 0 0;
	background: url('images/vertical-line.png') center bottom repeat-y;
}

#primaryNav li li a {//-----------------------------------------------------------------
	// background-color: #cee3ac;
	background-color: white;
	width: 130px;
	padding: 20px;

	// float: right;
}

#primaryNav li li:first-child {
	padding-top: 30px;
}

#primaryNav li li:last-child {
	background: url('images/vertical-line.png') center bottom repeat-y;
}

//=========================================
// Third Level
//=========================================

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: 9px 0 10px 0;
	background: url('images/L3-ul-top.png') center top no-repeat;
}

#primaryNav li li li {
	background: url('images/L3-center.png') left center no-repeat;
	padding: 5px 0;
}

#primaryNav li li li a {
	background-color: #fff7aa;
	font-size: 12px;
	padding: 5px 0;
	width: 80%;
	float: right;
}

#primaryNav li li li:first-child {
	padding: 15px 0 5px 0;
	background: url('images/L3-li-top.png') left center no-repeat;
}

#primaryNav li li li:last-child {
	background: url('images/L3-bottom.png') left center no-repeat;
}

#primaryNav li li li a:link:before,
#primaryNav li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}

//-----------------------------------------------------------------
// Utility Navigation
//-----------------------------------------------------------------

#utilityNav {
	float: right;
	max-width: 50%;
	margin-right: 10px;
}

#utilityNav li {
	float: left;
	margin-bottom: 10px;
}

#utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
	background: #C1E9FC url('images/white-highlight.png') top left repeat-x;
}