/*
    HAS-PREVIEW.CSS

    - Last updated: 01.09.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// IS MODE PREVIEW
//-----------------------------------------------------------------

.is-mode-preview.has-closed-menu {
    .lv-main {
        padding: 0;
    }
}

.is-mode-preview .lv-stage {
    background: #515764;
    transition: background 300ms ease;
}

//=========================================
//
//=========================================