/*
    INIT.CSS

    - Last updated: 28.07.16
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// INIT STATES
//-----------------------------------------------------------------

.lv-topbar,
.lv-topbar:after,
.lv-stage {
    border-radius: 6px 0 0 0;
}

.lv-topbar {
	transform: translateX(-10000px);
}

.lv-topbar-btns {
	@include media-breakpoint-up(lg) {
	    transform: translateX(-($app-menu-width-medium));
	    transition: transform 280ms ease;
	}
}

//-----------------------------------------------------------------
// MENU BUTTON
//-----------------------------------------------------------------

.lv-menu-btn .text:after {
	content: "Minimise";
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================