
<!-- FULLSCREEN --><iframe scrolling=no class="lv-iframe-loader lv-iframe-loader-fullscreen" data-preview></iframe>

<!-- DEVICES -->
<div class=lv-devices>

    <!-- DESKTOP (XL) -->
    <div class=device-desktop>
        <div class=device-screen>
            <iframe class=lv-iframe-loader data-preview></iframe>
        </div>
        <div class=device-desktop-base>
            <div class=device-desktop-stand>
                <div class=device-desktop-stand-foot-left></div>
                <div class=device-desktop-stand-foot-right></div>
            </div>
        </div>
    </div>

    <!-- LAPTOP (LG) -->
    <div class=device-laptop>
        <div class=device-screen>
            <iframe class=lv-iframe-loader data-preview></iframe>
        </div>
        <div class=device-laptop-base></div>
    </div>

    <!-- TABLET (MD) -->
    <div class=device-tablet>
        <div class=device-screen>
            <iframe class=lv-iframe-loader data-preview></iframe>
        </div>
    </div>

    <!-- MOBILE (SM) -->
    <div class=device-mobile>
        <div class=device-screen>
            <iframe class=lv-iframe-loader data-preview></iframe>
        </div>
    </div>
</div>