/*
	ALERT-BAR.CSS

	- updated: 24.02.17
	- liquidvisual.com

	- Notes:
	  - Since this is primarily an IE notifier, pxs and hacks are used
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$alert-color:         #DB2D39 !default;
$success-color:       #43AE6E !default;
$alert-font-size:     14px    !default;

//-----------------------------------------------------------------
// Hide page completely for < IE9
//-----------------------------------------------------------------

.lt-ie9 html,
.lt-ie9 body {
	overflow: hidden; // No scrollbars
}

.lt-ie9 * {
	visibility: hidden;
}

.lt-ie9 .lv-alert-bar,
.lt-ie9 .lv-alert-bar * {
	visibility: visible;
}

//-----------------------------------------------------------------
// Alerts Bar
//-----------------------------------------------------------------

.lv-alert-bar {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	background: $alert-color; // IE8 fallback
	background: rgba($alert-color, 0.95);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
	z-index: 2147483647;

	p {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 15px; // mobile
		font-weight: 500;
		font-size: $alert-font-size;
		color: white;
	}

	a {
		color: #F7DDA0;
		text-decoration: none;
	}
}

//-----------------------------------------------------------------
// Close Button
//-----------------------------------------------------------------

.lv-alert-bar-close-btn {
	display: table-cell;
	width: 50px;
	font-weight: 500;
	font-size: 30px;
	cursor: pointer;
	transition: all .2s linear;

	&:hover,
	&:active {
		background: darken($alert-color, 10%);
	}
}

//-----------------------------------------------------------------
// BLACKOUT
//-----------------------------------------------------------------

.lv-blackout {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: -1;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------